/*El selector * inidica las propiedads
 * iniciales de cada elemento*/
/*----------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;	
  }
/*-------------------HEADER-------------------------------*/
header{
  background: #072348;
  width: 100%;
  height: 60px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
nav a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin: 10px;
}

nav a:hover{
  text-decoration: underline;
  color: rgba(160, 200, 188, 0.8);
  transition: 0.4s ease-in-out;
}
/*--------encabezadotitular-------*/
.enca_1{
  position: relative;
  display: inline-block;
  text-align: center;
}
.enca_1 img{
  width: 100%;
}
.enca_1 h1{
  font-size: 200%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*---------Section1------------*/
.section_1{
  margin-top: -1%;
  color: #fff;
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #2e578c;
  width: 100%;
  height: 400px;
}
.section_1 img{
  width: 100%;
}
/*---------Section2------------*/
.section_2{
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}
.section_2 img{
  width: 100%;
}
.section_2 p{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section_2 h2{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
}
/*---------footer---------*/
footer{
  background: #2E578C;
  color: #fff;
  height: 110px;
  width: 100%;
  text-align: center;
  font-size: 25px;
}